@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import 'tailwindcss';

:root {
  --bgColor: #0d0c1d;
  --darkBlue: #161b33;
  --midBlue: #474973;
  --lightBlue: #a69cac;
  --creamWhite: #f1dac4;
}

body {
  background-color: var(--bgColor);
  /* font-family: 'Monomaniac One', cursive; */
  /* font-family: 'Orbitron', cursive; */
  font-family: 'Tomorrow', cursive;
}

